$main-bg: hsl(233, 47%, 7%);
$card-bg: hsl(244, 38%, 16%);
$soft-vio: hsl(277, 64%, 61%);

@mixin Flex($justify, $direction){
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: $main-bg;
    color: #fff;
    @include Flex(center, row);
    padding: 0 30px;
}
.card{
    height: 450px;
    width: 1440px;
    @include Flex(center,row); 
    border-radius: 10px;
    overflow: hidden;
}
.card-body{
    height: 100%;
    width: 50%;
    background-color: $card-bg;
    padding: 60px 80px;

    & .card-content{
        height: 100%;
        width: 80%;   
    }
    & p{
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 80px;
    }
}

.card-body-upper h1{
    margin-bottom: 30px;

    & span{
        color: $soft-vio;
    }
}
.stats{
    width: 100%;
    display: flex;

    & div{
        margin-right: 70px;
    }

    & p{
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.7px;
    }
    & h2{
        font-weight: 700;
    }
}
.img{
    position: relative;
    z-index: 4;
    background-image: url("/stats-preview-card-component-main/images/image-header-desktop.jpg");
    background-size: cover;
    background-color: $soft-vio;
    height: 100%;
    width: 50%;
}
.img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.45;
}

@media (max-width: 1105px){
    body{
        height: 120vh;
    }
    .card{
        height: 90%;
        width: 350px;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .card-body{
        height: 600px;
        width: 100%;
        padding: 0 20px;

        & .card-content{
            width: 100%;
            text-align: center;
        }

        & p{
            margin-bottom: 20px;
        }
    }
    .card-body-upper h1{
        font-size: 30px;
        margin-top: 40px;
    }
    
    .stats{
        margin: 40px 0 40px 0;

        display: block;

        & div{
            margin-right: 0;
        }
    }
    .img{
        background-image: url("/stats-preview-card-component-main/images/image-header-mobile.jpg");
        height: 450px;
        width: 100%;
    }
}